# Dependencias
node_modules/

# Archivos de construcción
lib/
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Archivos específicos del OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archivos específicos del IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mantener dist para GitHub Actions
# dist/